<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/manageApp.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />
<style>
    @@keyframes newItem {
        0%   {background-color: white;}
        25%  {background-color: lightgrey;}
        100% {background-color: white;}
    }
    .new {
        animation-name: newItem;
        animation-duration: 1s;
    }
</style>

<div class="container">
    <div ng-app="manageApp" ng-controller="ManageController">
        <!-- Twitter Auth Modal -->
        <div id="twitterAuth" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                        <h4 class="modal-title">Retrieve Pin</h4>
                    </div>
                    <div class="modal-body" id="twitterPinBody">
                        <p>Click to get PIN: <a target="_blank" href="{{twitterAuthURL}}">Twitter Authentication</a></p><br/>
                        <p>Enter Pin:</p>
                        <input type="text" class="form-control" id="twitterPin" placeholder="Twitter Pin" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="submitPin">Submit Pin</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Scraper Modal -->
        <div id="editScraperModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                        <h4 class="modal-title">Edit Scraper</h4>
                    </div>
                    <div class="modal-body">
                        <div hidden id="{{modalguid}}"></div>
                        <form id="editScraperModalBody"></form>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="submitScraperEdits()" id="modalEditButton">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-margin">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Manage Scrapers</h4>
                </div>
                <div id="scraperEdit" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead id="editTHead">
                            <tr>
                                <th class="col-xs-1"></th>
                                <th class="col-xs-3">Name</th>
                                <th class="col-xs-1">Status</th>
                                <th class="col-xs-1">Type</th>
                                <th class="col-xs-1">Corpus</th>
                                <th class="col-xs-1">Download Count</th>
                                <th class="col-xs-1">Elapsed Time</th>
                                <th class="col-xs-1">Progress</th>
                            </tr>
                        </thead>
                        <tbody id="editTBody" class="table">
                            <tr hidden ng-repeat="scraper in currentScraperList" id="{{scraper.guid}}" highlight>
                                <td>
                                    <p>
                                        @*<span class="glyphicon glyphicon-file" ng-click="editScraper($event)"></span>*@
                                        <span class="glyphicon glyphicon-trash" ng-click="deleteScraper($event)"></span>
                                        <span class="glyphicon glyphicon-pause" ng-click="pauseScraper($event)"></span>
                                        <span class="glyphicon glyphicon-play" ng-click="startScraper($event)"></span>
                                    </p>
                                </td>
                                <td title="{{scraper.guid}}"> {{scraper.name}} </td>
                                <td> {{scraper.status}} </td>
                                <td title="{{scraper.desc}}" class="type"> {{scraper.type}} </td>
                                <td>{{scraper.corpus}}</td>
                                <td title="{{scraper.dLimit}}"> {{scraper.dCount}} </td>
                                <td title="{{scrpaer.tLimit}}"> {{scraper.eTime}} </td>
                                <td> {{scraper.progress}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>