<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/scraperApp.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />

<div class="container">
    <div ng-app="scraperApp" ng-controller="ScraperController">
        <form id="scraperNew" class="row col-sm-12 panel panel-default">
            <div class="row row-margin ">
                <div class="col-sm-6" id="scraperInfo">
                    <h3 class="panel-heading">Scraper</h3>
                    <hr/>
                    <label>Scraper Name: </label>
                    <input type="text" id="scraperName" class="form-control" /> <br />
                    <label>Scraper Type: </label>
                    @*<select class="form-control" id="scrapers">
                        <option disabled selected> -- Select Scraper -- </option>
                        <option ng-repeat="option in scrapers">
                            {{option}}
                        </option>
                    </select>*@
                    <select class="form-control" id="scrapers" ng-model="selectedScraper" ng-options="option as option for option in scrapers"></select>
                    <div id="scraperContent"></div>
                </div>

                <div class="col-sm-6 panel">
                    <h3 class="panel-heading">Properties</h3>
                    <hr/>
                    <div class="panel-body" id="scraperProperties"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" style="margin-bottom:15px" id="runScrape" ng-click="createScraper()">Create Scraper</button>
        </form>
    </div>
</div>