<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/workflowApp.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div ng-app="workflowApp">
                <div class="row row-margin" id="workflowButtons" ng-hide="workflowButtons">
                    <span><h1> Select a Workflow </h1></span>
                    <div style="padding:50px 0 50px 0;">

                        <!-- Scrape the web button -->
                        <div class="col-sm-5 col-sm-offset-1">
                            <a href="#scraper" class="square" style="text-decoration:none;">
                                <span>Scrape The Web</span> <i class="glyphicon glyphicon glyphicon-save-file"></i>
                                <span class="information">Select or Configure your own scraper to search the web for some interesting content.</span>
                            </a>
                        </div>

                        <!-- Train Neural net button -->
                        <div class="col-sm-5">
                            <a href="#train" class="square" style="text-decoration:none;">
                                <span>Train Neural Network</span> <i class="glyphicon glyphicon glyphicon-tasks"></i>
                                <span class="information">Select or Configure an existing Neural Network and train it based on results of a scrapper.</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div ng-view></div>
                <script type="text/ng-template" id="scraper.htm">
                    <span class="text-center"><h3>Scrape The Web</h3></span>
                    <hr />
                    <div class="row row-margin">

                        <!-- Modal -->
                        <div id="newEditScraper" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                                        <h4 class="modal-title">Create new scraper or manage existing scrapers?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" class="btn btn-default" ng-click="newScraper()">Create New</button>
                                        <button type="button" class="btn btn-default" ng-click="manageScrapers()">Manage Existing</button>
                                    </div>
                                    <div class="modal-footer">
                                        <p />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Modal -->
                        <div id="twitterAuth" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                                        <h4 class="modal-title">Retrieve Pin</h4>
                                    </div>
                                    <div class="modal-body" id="twitterPinBody"></div>
                                    <div class="modal-footer">
                                        <input type="text" class="form-control" id="twitterPin">
                                        <button type="button" class="btn btn-default" id="submitPin" >acceptPin</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Scrape the web FORM -->
                        <form id="scraperNew" hidden>
                            <div class="row row-margin panel panel-default">
                                <div class="col-sm-6 panel panel-default" id="scraperInfo">
                                    <h3 class="panel-heading">Scraper</h3>
                                    <label>Scraper Name: </label>
                                    <input type="text" id="scraperName" class="form-control" /> <br />
                                    <label>Scraper Type: </label>
                                    <select class="form-control" id="scrapers">
                                        <option disabled selected> -- Select Scraper -- </option>
                                        <option ng-repeat="option in scrapers">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div id="scraperContent"></div>
                                </div>
                                <div class="col-sm-6 panel panel-default">
                                    <h3 class="panel-heading">Properties</h3>
                                    <div class="panel-body" id="scraperProperties"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default" id="runScrape" ng-click="createScraper()">Create Scraper</button>
                        </form>

                        <div id="scraperEdit" class="table-responsive" hidden>
                            <table class="table table-bordered table-hover">
                                <thead id="editTHead">
                                    <tr>
                                        <th></th>
                                        <th>GUID</th>
                                        <th>Status</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="editTBody" class="table">
                                    <tr ng-repeat="scraper in currentScraperList">
                                        <th scope="row">
                                            <p>
                                                <span class="glyphicon glyphicon-file" ng-click="editScraper($event)"></span>
                                                <span class="glyphicon glyphicon-trash" ng-click="deleteScraper($event)"></span>
                                                <span class="glyphicon glyphicon-stop" ng-click="stopScraper($event)"></span>
                                                <span class="glyphicon glyphicon-play" ng-click="startScraper($event)"></span>
                                            </p>
                                        </th>
                                        <th scope="row" class="guid"> {{scraper.guid}} </th>
                                        <th scope="row"> {{scraper.status}} </th>
                                        <th scope="row"> {{scraper.name}} </th>
                                        <th scope="row"> {{scraper.type}} </th>
                                        <th scope="row"> {{scraper.desc}} </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="train.htm">
                    <div class="row row-margin">

                        <!-- Train Neural net FORM -->
                        <span><h3>Train Neural Net</h3></span>
                        <hr />
                    </div>
                </script>
            </div>
            <br />
        </div>
    </div>
</div>