<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/workflowApp.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div ng-app="workflowApp">
                <div class="row row-margin" id="workflowButtons" ng-hide="workflowButtons">
                    <span><h1> Select a Workflow </h1></span>
                    <div style="padding:50px 0 50px 0;">

                        <!-- Scrape the web button -->
                        <div class="col-sm-5 col-sm-offset-1">
                            <a href="#scrapper" class="square" style="text-decoration:none;">
                                <span>Scrape The Web</span> <i class="glyphicon glyphicon glyphicon-save-file"></i>
                                <span class="information">Select or Configure your own scrapper to search the web for some interesting content.</span>
                            </a>
                        </div>

                        <!-- Train Neural net button -->
                        <div class="col-sm-5">
                            <a href="#train" class="square" style="text-decoration:none;">
                                <span>Train Neural Network</span> <i class="glyphicon glyphicon glyphicon-tasks"></i>
                                <span class="information">Select or Configure an existing Neural Network and train it based on results of a scrapper.</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div ng-view></div>
                <script type="text/ng-template" id="scrapper.htm">
                    <span class="text-center"><h3>Scrape The Web</h3></span>
                    <hr />
                    <div class="row row-margin">
                        <div>

                            <!-- Modal -->
                            <div id="newEditScraper" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                                            <h4 class="modal-title">Create new scraper or edit existing?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <button type="button" class="btn btn-default" ng-click="editScraper()">Edit</button>
                                            <button type="button" class="btn btn-default" ng-click="newScraper()">New</button>
                                        </div>
                                        <div class="modal-footer">
                                            <p />
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- Scrape the web FORM -->
                            <form id="scraperForm">
                                <div class="row row-margin panel panel-default">
                                    <div class="col-sm-6 panel panel-default" id="scraperInfo">
                                        <h3 class="panel-heading">Scraper</h3>
                                    </div>
                                    <div class="col-sm-6 panel panel-default" id="scraperProperties">
                                        <h3 class="panel-heading">Properties</h3>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                            <label for="email">Name</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Select Websites</label>
                                            <select multiple class="form-control" id="exampleSelect1">
                                                <option ng-repeat="option in websites">
                                                    {{option}}
                                                </option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-default" id="runScrape" ng-click="runScrape()">Run</button>
                                    </form>*@
                        </div>

                        @*<div class="col-sm-6" style="right:0">
                                <span><h3>Steps</h3></span>
                                <hr />
                                <div class="workflow-container-outer">
                                    <div class="workflow-container-inner">
                                        <a href="#" class="circle-outer"></a>
                                        <a href="#" class="circle-inner"></a>
                                        <ul class="workflow-list">
                                            <li class=""><span><i class="icon-ok"></i>Gather Content</span></li>
                                            <hr>
                                            <li class=""><span><i class="icon-plus"></i>Review Content</span></li>
                                            <hr>
                                            <li class=""><span><i class="icon-plus"></i>Commit Content</span></li>
                                        </ul>
                                        <button type="submit" class="btn btn-default" id="nextStep" ng-click="nextStep()">Next</button>
                                        <button type="submit" class="btn btn-default" id="prevStep" ng-click="prevStep()">Previous</button>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </script>
                <script type="text/ng-template" id="train.htm">
                    <div class="row row-margin">

                        <!-- Train Neural net FORM -->
                        <span><h3>Train Neural Net</h3></span>
                        <hr />
                    </div>
                </script>
            </div>
            <br />
        </div>
    </div>
</div>
