<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/corpusApp.js"></script>

<div class="row row-margin" ng-app="corpusApp" ng-controller="corpus">
    <h3><span>Corpus</span></h3><hr />
    <div class="form-group">
        <label for="">Select a Corpus</label>
        <select class="form-control" id="corpusList" ng-model="selectedCorpus" ng-change="display(selectedCorpus)">
            <option ng-repeat="c in corpusList">
                {{c.name}}
            </option>
        </select>
    </div>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Content</button>
    <br />
    <br />
    <!---DISPLAY CORPUS BELOW WITH ADDED VIEW-->
    <!--Corpus will be displayed below theough seperate view. (NOT IMPLEMENTED YET)-->
    <div class="row-margin">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> {{corpus.name}} </h4>
            </div>
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-1">Id</th>
                        <th class="col-xs-2">Content</th>
                        <th class="col-xs-1">Type</th>
                        <th class="col-xs-2">Hash</th>
                        <th class="col-xs-1">Date Added</th>
                        <th class="col-xs-1" style="text-align:center">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="content in corpusContent">
                        <td class="col-xs-1">{{content.id}}</td>
                        <td class="col-xs-2">{{content.name}}</td>
                        <td class="col-xs-1">{{content.type}}</td>
                        <td class="col-xs-2">{{content.hash.substring(0,20)}}</td>
                        <td class="col-xs-1">{{content.Date}}</td>
                        <td class="col-xs-1" style="text-align: center;"><span class="remove"><i ng-click="deleteContent(content.id)" class="glyphicon glyphicon-remove"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>-
    </div>

    <!-- Modal -->
    <div class="modal fade" style="width:auto" id="myModal" role="dialog">
        <div style="width:300px" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Content</h4>
                </div>
                <div class="modal-body">
                    <p>Corpus: {{corpus.name}}</p>
                    <p>Content: <input ng-model="newContent.name" class="form-control" type="text" /></p>
                    <p>Type: <input ng-model="newContent.type" class="form-control" type="text" /></p>
                </div>
                <div class="modal-footer">
                    <button style="margin: 0 auto" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <div ng-click="createContent()" style="margin: 0 auto" type="button" class="btn btn-success">Add Content</div>
                </div>
            </div>

        </div>
    </div>

</div>






<style>
    .remove {
        color: lightgray;
    }

        .remove:hover {
            color: red;
        }
</style>