<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script type="text/javascript" src="~/js/documentation.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />
<div class="container">
    <div ng-app="documentationApp" ng-controller="DocuController">
        <div class="row row-margin ">
            <div class="panel panel-default">
                <h3 class="panel-heading">{{fields.title}}</h3>
                <p class="panel-body" style="white-space: pre-wrap;">{{fields.body}}</p>
                <br />
            </div>
            <br />
        </div>
    </div>
</div>