<div class="container">
    <div class="row row-margin">
        <span><h3>Documentation</h3></span>
        <div style="border: 1px solid rgba(0,0,0,.2); border-radius: 1em">
            <div class="row row-margin">
                <h4>Status</h4>
            </div>

            <div class="row row-margin">
                <h4>Workflow</h4>
            </div>

            <div class="row row-margin">
                <h4>Neural Net</h4>
            </div>

            <div class="row row-margin">
                <h4>Documentation</h4>
            </div>
        </div>
    </div>
</div>