<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script type="text/javascript" src="~/js/docsApp.js"></script>
<link rel="stylesheet" href="~/css/workflow.css" asp-append-version="true" />
<div class="container">
    <div ng-app="documentationApp" ng-controller="DocuController">
        <div class="row row-margin ">
            <div class="panel panel-default">
                <h3 class="panel-heading">{{fields.title}}</h3>
                <p class="panel-body" style="white-space: pre-wrap;">{{fields.body}}</p>
            </div>
            <div class="panel panel-default">
                <h3 class="panel-heading">{{fields.glossarytitle}}</h3>
                <p class="panel-body" style="white-space: pre-wrap;">{{fields.glossary}}</p>
            </div>
            <hr />
            <div class="panel panel-default" >
                <h3 class="panel-heading" style="text-align:center;">Pages</h3>
                
            </div>
            <hr />
            <div class="panel panel-default" ng-repeat="field in doc">
                <h3 class="panel-heading">{{field.title}}</h3>
                <p class="panel-body" style="white-space: pre-wrap;">{{field.body}}</p>
            </div>
        </div>
    </div>
</div>