@{
    ViewData["Title"] = "Home Page";
}
<div class="panel panel-default">
    <h3 class="panel-heading">Lexical Analyzer</h3>
    <p class="panel-body">We propose to build a web system to facilitate machine learning research, particularly the analysis of machine code using artificial neural networks. Machine code here refers to the machine code found in executable files, shared libraries, and object files. We will compile a corpus of such files and train an artificial neural network in a manner analogous to the word2vec model. The system we develop will be applicable to more than just machine code analysis; with slight modification to the corpus and neural net training routines, our system will be able to handle any research task involving training a neural net with a large corpus of input.</p>
</div>