<div class="container">
    <div class="row row-margin">
        <h3><span>Neural Net</span></h3><hr />
        <div class="form-group">
            <label for="">Select a Neural Net</label>
            <select class="form-control" id="corpusList">
                <option>Neural Net 1</option>
                <option>Neural Net 2</option>
                <option>Neural Net 3</option>
                <option>Neural Net 4</option>
            </select>
        </div>

        <!---DISPLAY NEURAL NET BELOW WITH ADDED VIEW-->
        Neural Net will be displayed below theough seperate view. (NOT IMPLEMENTED YET)

    </div>
</div>