<script src="~/js/angular.min.js"></script>
<script src="~/js/angular-route.min.js"></script>
<script src="~/js/statusApp.js"></script>

<div class="row" ng-app="statusApp">
    <h3><span>Status</span></h3><hr />
    <a style="text-align:right; display:block;" asp-area="" asp-controller="Workflow" asp-action="BrowseWorkflows">History</a>
    <div class="row-margin status-container" ng-controller="status">
        <!-- USE ANGULAR JS TO RETRIEVE ACTIVE SCRAPPERS (USE NG_REPEAT TO DISPLAY DATA) -->
        <div class="col-md-5">
            <h4>Active Scrappers</h4>

            <div class="scrapper-status" ng-repeat="scrapper in scrappers">
                <span class="status-pause" ng-click="toggleScrapper(scrapper)"><i class="glyphicon glyphicon-pause"></i></span>

                <span>Name: {{scrapper.DName}}</span>
                <br />
                <span>Status: {{scrapper.Status}}</span>
                <br />
                <span>Content Type: {{scrapper.ContentType}}</span>
                <br />
                <span>Guid: {{scrapper.Guid}}</span>

                <hr />
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{scrapper.Progress}}%">
                        {{scrapper.Progress}}% Complete
                    </div>
                </div>
            </div>
        </div>


        <!-- END SCRAPPERS S-->
        <!-- USE ANGULAR JS TO RETRIEVE ACTIVE NEURAL NETWORKS IN TRAINING (USE NG_REPEAT TO DISPLAY DATA) -->
        <div class="col-md-7">
            <h4>Active Learning Models</h4>

            <div class="scrapper-status" ng-repeat="lm in learningModels">
                <span class="status-pause" ng-click="togglelearningModel(lm)"><i class="glyphicon glyphicon-pause"></i></span>

                <span class="status-id">{{lm.id}}</span>

                <span>Name: {{lm.name}} N/A</span>
                <br />
                <span>Status: {{lm.Status}}</span>
                <br />
                <span>Type: {{lm.Type}}</span>
                <br />
                <span>Guid: {{lm.Guid}}</span>
                <hr />
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{lm.Progress}}%">
                        {{lm.Progress}}% Complete
                    </div>
                </div>
            </div>

        </div>
        <!-- END SCRAPPERS S-->
    </div>
</div>