<!-- Modal -->
<div id="twitterAuth" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#collapseArea" aria-expanded="true" aria-controls="collapseArea">&times;</button>
                <h4 class="modal-title">Retrieve Pin</h4>
            </div>
            <div class="modal-body" id="twitterPinBody"></div>
            <div class="modal-footer">
                <input type="text" class="form-control" id="twitterPin">
                <button type="button" class="btn btn-default" id="submitPin">acceptPin</button>
            </div>
        </div>
    </div>
</div>