@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="merkleApp">
<head>
    <meta charset="utf-8" />
    <title>Merkle Stuff</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="~/js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="~/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('a').click(function (event) {
                $(this).hide();
                event.preventDefault();
            });
        });

        jQuery(document).ready(function( $ ){
			
				$('nav#menu').mmenu({
					navbar 		: {
					    title: 'Merkle Tree'
					},
					navbars		: [
						{
							position	: 'top',
							content		: [ 'searchfield' ]
						}, {
							position	: 'top',
							content		: [
								'prev',
								'title',
							]
						},
					],

				    // options
					offCanvas: { position: "left", zposition: "front" },
					extensions: ["theme-black", "effect-panel-zoom", "effect-listitems-slide"],
				    counters: true,
				});
			});
    </script>
</head>
<body>
    <div id="page">
        <div class="header">
            <a href="#menu">CLICK ME!</a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#">Data 1 - UL93K</a><input type="checkbox"></li>
                <li>
                    <span>Data 2 - V9W59</span>
                    <ul>
                        <li><a href="#">Data 2.1 - K9WK0</a></li>
                        <li>
                            <span>Data 2.2 - Y93KM</span>
                            <ul>
                                <li><a href="#about/team/management">Data 2.2.1 - GH467</a></li>
                                <li><a href="#about/team/sales">Data 2.2.2 - GD4G1</a></li>
                                <li><a href="#about/team/development">Data 2.2.3 - MH4K3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Data 2.3 - B94K2</a></li>
                    </ul>
                </li>
                <li><a href="#">Data 3 - 673KM</a></li>
                <ul></ul>
            </ul>
        </nav>
    </div>
</body>
</html>
